@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #686de0;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
  margin: 0;
  padding: 20px;
}

.container {
  height: auto;
  width: 75vw;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
  padding: 25px;
  text-align: center;
}

input {
  margin: 10px;
  text-align: center;
  font-size: 1.5rem;
}

h1 {
  font-size: 1.4rem;
}

h3 {
  margin: 0;
  opacity: 0.5;
}


.btn {
  background-color: #9f68e0;
  color: #fff;
  border: 0;
  border-radius: 5px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
  padding: 14px 40px;
  margin: 10px;
  font-size: 16px;
  cursor: pointer;
}

#eliminar {
  padding: 10px 30px;
  margin-top: 0px;
  text-decoration: none;
}

.error-uno div, .error-dos div{
  color: red;
  border: 1px solid rgba(253, 2, 2, 0.4);
  border-radius: 2.5px;
  padding: 5px;
  margin-top: 5px;
}

#reinicio:disabled {
  background: #ccc;
  cursor: default;
}

.active:enabled {
  background-color: #9f68e0;
  cursor: pointer;
}

#calcular:active {
  transform: scale(0.98);
}

#calcular:disabled {
  background: #ccc;
  cursor: default;
}

#calcular:focus {
  outline: 0;
}

div .elegirProd {
  border-style: groove;
  border-radius: 5px;
  margin: 20px;
  padding: 10px;
}

div .elegirProd h4 {
  margin: 2px 0 5px 0;
  font-size: 1rem;
  color: rgb(172, 171, 171);
}

div #elegirProducto {
  margin-top: 10px;
  padding: 5px 10px ;
  font-size: 1rem;
  font-weight: 400;
  color: white;
  background-color: #9f68e0;
  text-align: center;
}

.calculo {
  display: flex;
  flex-direction: column ;
  align-items: center;
  font-size: 1.3rem;
  letter-spacing: 1px;
  line-height: 25px;
  max-width: 600px;
  white-space: nowrap;
}